.tealLeftBarHead{
    margin-top: 140px; 
    background-color:white; 
    height:150px;
    width:600px
}

.tealResume {
    font-family:Tahoma; 
    color:white; margin-top:20px;  
    font-size:30px; word-break:break-all;  																																
    background-color:#179498; 
    border-style: none; 
    text-transform:uppercase;   
    width:400px;
}

.tealFullName{
    font-family:Tahoma; 
    word-break:break-all;  
    margin-top:-20px;
    background-color:white; 
    color:black;  
    border-style: none; 
    text-transform:uppercase; 
    font-size:50px; 
    width:450px;
}

.tealDesignation{
    font-family:Tahoma; 
    word-break:break-all; 
    color:black; 
    margin-top:-50px ; 
    background-color:white; 
    border-style:none; 
    font-size:20px; width:450px;
}