.tealResume{
    height:1400px; width:1200px
}

.tealResumeInternal{
    margin-top:0px;
    float:left;
    margin-left:0px; 
    background-color:#179498; 
    width :400px; 
    height : 1200px;
}

.tealResumeUpper{
    margin-top: 180px; 
    background-color:white; 
    height:150px;
    width:600px;
}